.wrapper {
  width: 100%;
  font-family: "Georgia", serif;
}

.hero {
  background-color: #f1f8e9;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 2.8rem;
  color: #2e3e2f;
  margin-bottom: 40px;
  line-height: 1.4;
  font-weight: normal;
}

.ctaButton {
  background-color: #7cb342;
  color: white;
  padding: 15px 50px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.3s;
  font-family: sans-serif;
}

.ctaButton:hover {
  background-color: #689f38;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  background-color: #f1f8e9;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 550px;
  height: 377px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 35px;
}

.cardOverlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.4;
  font-family: sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
