.header {
  padding: 20px 40px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-family: sans-serif;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #888888;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;

  border-bottom: 3px solid transparent;
  transition: all 0.2s ease;
}

.nav-links a:hover {
  color: #555;
}

.nav-links a.active {
  color: #333333;
  font-weight: 500;
  border-bottom-color: #7cb342;
}
