.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* background-color: #f9f9f9; */
}

.container_card {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

.container_text {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form_input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.form_btn {
  padding: 12px;
  background-color: #7cb342;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form_btn:hover {
  background-color: #689f38;
}

.container_hint {
  margin-bottom: 15px;
  font-size: 12px;
  color: #666;
}
