* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(circle, #1e1e1e, #5a046b);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: rgb(8, 2, 8);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 1.5rem;
}
h1 {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

#startButton {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007acc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 1.5rem;
}

#startButton:disabled {
  background-color: #555;
  cursor: not-allowed;
}

#startButton:hover:not(:disabled) {
  background-color: #0098ff;
}

.progress-container {
  width: 100%;
  background-color: #3e3e3e;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
  height: 24px;
}

#progressBar {
  width: 0%;
  height: 100%;
  background-color: #52a7df;
  transition: width 0.3s ease-in-out;
}

#progressText {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#logContainer {
  padding: 1rem;
  border-radius: 5px;
  height: 650px;
  overflow-y: auto;
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 0.9rem;
}

.log-item {
  padding: 4px 8px;
  border-radius: 3px;
  margin-bottom: 4px;
  background-color: rgb(197, 191, 235);
}

.status-fulfilled {
  color: #4caf50;
}
.status-rejected {
  color: #f44336;
}
.status-running {
  color: #362aa1;
}
